{% extends 'base.html.twig' %}

{% block title %}Chapp Solutions - Habitaciones Disponibles{% endblock %}

{% block body %}
    <style>
        .contenedor { margin: 1em auto; max-width: 1024px; width: 95%; font: 18px/1.5 sans-serif; }
        .contenedor code { background: #F5F5F5; padding: 2px 6px; }
        .table, th, td { border: 1px solid; border-collapse: collapse;}
    </style>

    <div class="contenedor">
        <h1>Habitaciones Disponibles: {{ num_hab_disp }}</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tipo de Habitación</th>
                <th scope="col">Habitación</th>
                <th scope="col">Días</th>
                <th scope="col">Precio Total</th>
            </tr>
            </thead>
            <tbody>
            {% for hab in info_habs %}
                <tr>
                    <td>{{ hab.tipo_hab }}</td>
                    <td>{{ hab.numero_hab }}</td>
                    <td>{{ hab.num_dias }}</td>
                    <td>{{ hab.precio_total }} €</td>
                    <td>
                        <input type="button" onclick="location.href = '{{ path('reservas_crear', {'hab': hab}) }}';" value="Reservar">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}